body    {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    flex: auto;
    align-items: center;
    justify-content: center;
}

ul  {
    list-style: none;
    padding: 0;
}

.header-left    {
    color: #f9faf8;
    font-size: 24px;
    width: 50%;
}

.header-right   {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

a   {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.one    {
    display: flex;
    background-color: #1F2937;
    padding: 2%;
}

.one-left   {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 5%;
}

.one-left-header    {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.one-left-body   {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 10px;
}

button  {
    width: fit-content;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-top: 10px;
}

.one-right  {
    margin-left: auto;
    margin-right: auto;
}

#nick-headshot  {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

#affiliations   {
    display: flex;
    flex: auto;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 20px;
}

.aff-pics,
.aff-info   {
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-items: center;
    gap: 52px;
}

.text   {
    width: 225px;
    text-align: center;
}