body    {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
}

ul  {
    list-style: none;
    padding: 0;
}

.header-left    {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    width: 50%;
    justify-content: center;
}

.header-right   {
    display: flex;
    flex-shrink: 0;
    width: 50%;
    justify-content: space-evenly;
}

a   {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.one    {
    display: flex;
    background-color: #1F2937;
    padding: 2%;
}

.one-left   {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.one-left-header    {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.one-left-body   {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 10px;
}

button  {
    width: fit-content;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-top: 10px;
}

.one-right  {
    margin-left: auto;
    margin-right: auto;
}

#nick-headshot  {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

#affiliations   {
    display: flex;
    flex: auto;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 20px;
}

.card-container {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card   {
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    width: 330px;
    padding: 8px;
    margin: 8px;
    align-items: center;
    justify-content: center;
}

.text   {
    margin-top: 10px;
}